@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #111827;
	overflow-x: hidden;
}
p > a {
	color: #5cdcba;
	text-decoration: underline;
}

.sora-anim {width: 238px; max-width: 100vw;}
.contributors {
	display: grid;
	grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) 
}