@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: KH;
	src: url('../public/font/KH.ttf');
}
@font-face {
	font-family: FFVII;
	src: url('../public/font/Final_Fantasy_VII.woff');
}

html {
	background-color: #111827;
	overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {font-family: "KH";}

body {
	font-family: "KH";
	letter-spacing: 1.5px;
}
.lg-ff {
	font-size: 3rem;
}
p > a {
	color: #5cdcba;
	text-decoration: underline;
}

.sora-anim {width: 238px; max-width: 100vw;}

.contributors {
	display: grid;
	grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) 
}

.text-shadow {
	text-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.text-shadow-md {
	text-shadow: 0 4px 8px rgba(0,0,0,0.7), 0 2px 4px rgba(0,0,0,0.6);
}

.text-shadow-lg {
	text-shadow: 0 15px 30px rgba(0,0,0,0.7), 0 5px 15px rgba(0,0,0,0.6);
}

.text-shadow-none {
	text-shadow: none;
}